@charset "UTF-8";

body {
	margin: 0;
}
li {
	list-style: none;
}
.m-bk {
	position:  absolute;
	width: 1063px;
	height: 544px;
	background: url('../img/bk.png') no-repeat;
	opacity: 0;
}
.m-menu {
	padding: 15px 25px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1.6px;
	color: #6c6c6c;
	text-indent: 3em;
}
.m-menu-item+.m-menu-item {
	margin-left: 13px;

}
.m-content-item0 {
	padding: 11px 30px;
	
}
.m-content-item1 {
	padding: 3px 32px;
	font-size: 11.6px;
	font-weight: bold;
	letter-spacing: 0.2px;
	color: #6c6c6c;
	text-indent: 0.3em;
}
.m-content-item2 {
	padding: 0px 1px;
	font-size: 19px;
	font-weight: bold;
	letter-spacing: -0.4px;
	color: #000;
	text-indent: 1.7em;

}
.m-content-item3 {
	padding: 7px 32px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.3px;
	color: #6c6c6c;
	text-indent: 0.2em;
}
.m-content-item4 {
	padding: 10px 30px;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0.2px;
	color: #111111;
	text-indent: 0.3em;
}
.m-content-item5 {
	padding: 0px 30px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #6c6c6c;
	text-indent: 0.3em;

}
.m-content-item6 {
	padding: 20px 60px;
}
.m-content-itema {
	padding: 0px 32px;
	font-size: 19px;
	font-weight: bold;
	letter-spacing: -0.4px;
	color: #000;
	text-indent: 12em;
}
.m-content-itemb {
	padding: 18px 278px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #000;
	text-indent: 30em;
}
#q {
	padding: 10px 33px;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0.2px;
	color: #111111;
	text-indent: 0.3em;
}
#z {
	padding: 50px 50px;
}
#zz {
	padding: 33px 16px;
}

#a {
	float: right;
	padding: 0px 520px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #000;
}
#b {
	float: right;
	padding: 0px 560px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #000;
	text-indent: 0em;
}
#c {
	float: right;
	margin: 0px 600px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #000;
	text-indent: 0em;
}
#d {
	
	padding: 0px 500px;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #6c6c6d;
	text-indent: 0em;
}
#e {
	
	padding: 0px 420px;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #6c6c6d;
	text-indent: 0em;
}
#a1 {
	float: right;
	padding: 0px 535px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #000;
}
#b1 {
	float: right;
	padding: 0px 572px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #000;
	text-indent: 0em;
}
#c1 {
	float: right;
	margin: 0px 638px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #000;
	text-indent: 0em;
}
#d1 {
	float: right;
	padding: 0px 592px;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #6c6c6d;
	text-indent: 0em;
}
#e1 {
	float: right;
	padding: 0px 627px;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #6c6c6d;
	text-indent: 0em;
}
#a2 {
	padding: 0px 430px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #000;
}
#b2 {
	
	padding: 0px 372px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #000;
	text-indent: 0em;
}
#c2 {
	float: right;
	padding: 0px 611px;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #6c6c6d;
	text-indent: 0em;
}
#d2 {
	float: right;
	padding: 0px 631px;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: -1px;
	color: #6c6c6d;
	text-indent: 0em;
}
#aa {
	padding: 30px 35px;
	font-size: 11.6px;
	font-weight: bold;
	letter-spacing: 0.2px;
	color: #6c6c6c;
	text-indent: 0em;
}